n8n-workflows/APEX-02-Credential-Drift-Monitor.json
{
  "name": "Credential Drift Monitor — 6h Staggered Checks",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "cron-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "// Staggered checks with exponential backoff\nconst checks = [\n  { name: 'supabase_wallestars', type: 'api_key', endpoint: 'https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/', header: 'apikey' },\n  { name: 'cloudflare_api', type: 'api_token', endpoint: 'https://api.cloudflare.com/client/v4/user/tokens/verify', header: 'Authorization' },\n  { name: 'github_pat', type: 'pat', endpoint: 'https://api.github.com/user', header: 'Authorization' },\n  { name: 'telegram_bot', type: 'bot_token', endpoint: 'https://api.telegram.org/bot{TOKEN}/getMe', header: null }\n];\n\n// Add 2-second stagger between checks\nconst results = [];\nfor (let i = 0; i < checks.length; i++) {\n  const check = checks[i];\n  results.push({\n    credential: check.name,\n    type: check.type,\n    check_order: i + 1,\n    stagger_ms: i * 2000,\n    endpoint: check.endpoint\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "stagger-logic",
      "name": "Staggered Check List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.endpoint }}",
        "options": {
          "timeout": 10000,
          "retry": { "maxRetries": 3, "retryIntervalMs": 5000 }
        }
      },
      "id": "http-check",
      "name": "Validate Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.statusCode >= 200 && $json.statusCode < 400 }}", "value2": true }]
        }
      },
      "id": "status-check",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "chatId": "8041248687",
        "text": "=🔴 CREDENTIAL DRIFT ALERT\n\n{{ $json.credential }} is INVALID\nType: {{ $json.type }}\nHTTP Status: {{ $json.statusCode }}\n\nAction required: rotate immediately.",
        "additionalFields": {}
      },
      "id": "alert-invalid",
      "name": "Alert — Credential Invalid",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 420],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_BOT_CRED_ID", "name": "Zarcheto Bot" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "evidence_log",
        "columns": "workflow_id,execution_id,mode,status,source_platform,artifact_type,details,timestamp"
      },
      "id": "log-result",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1140, 180],
      "credentials": {
        "supabaseApi": { "id": "WALLESTARS_SUPABASE_CRED_ID", "name": "Wallestars Supabase" }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": { "main": [[ { "node": "Staggered Check List", "type": "main", "index": 0 } ]] },
    "Staggered Check List": { "main": [[ { "node": "Validate Credential", "type": "main", "index": 0 } ]] },
    "Validate Credential": { "main": [[ { "node": "Is Valid?", "type": "main", "index": 0 } ]] },
    "Is Valid?": {
      "main": [
        [ { "node": "Log to Supabase", "type": "main", "index": 0 } ],
        [ { "node": "Alert — Credential Invalid", "type": "main", "index": 0 } ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "security" }, { "name": "drift-monitor" }, { "name": "production" }]
}
