n8n-workflows/wallester-registration-agent-v3-fixed.json
{
    "name": "Wallester Registration Agent V3 (Fixed)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "wallester-registration-v3",
                "responseMode": "onReceived"
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "wallester-reg-v3-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/verified_business_profiles?id=eq.{{ $json.owner_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fetch-owner",
            "name": "Fetch Owner Data",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const owners = $input.first().json;\nconst owner = Array.isArray(owners) ? owners[0] : owners;\n\nif (!owner) {\n  throw new Error('Owner not found');\n}\n\nconst businesses = owner.ownership_data?.businesses || [];\n\nreturn businesses.map(biz => ({\n  json: {\n    owner_id: owner.id,\n    owner_name: owner.company_name,\n    business_eik: biz.eik,\n    business_name: biz.name,\n    business_type: biz.type || 'EOOD',\n    email_alias: owner.email_alias || owner.email,\n    phone: owner.phone\n  }\n}));"
            },
            "id": "parse-businesses",
            "name": "Parse Businesses",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-businesses",
            "name": "Loop Businesses",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"owner_id\": \"{{ $json.owner_id }}\",\n  \"business_eik\": \"{{ $json.business_eik }}\",\n  \"business_name\": \"{{ $json.business_name }}\",\n  \"current_step\": \"INITIATED\",\n  \"status\": \"IN_PROGRESS\",\n  \"metadata\": {\"automation_version\": \"3.0\", \"triggered_by\": \"webhook\"}\n}",
                "options": {}
            },
            "id": "init-progress",
            "name": "Initialize Progress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ],
            "notesInFlow": true,
            "notes": "Create progress tracking record"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.duoplus.net/v1/cloudNumber/order",
                "authentication": "none",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "country",
                            "value": "US"
                        },
                        {
                            "name": "service",
                            "value": "wallester"
                        },
                        {
                            "name": "type",
                            "value": "real"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 0b6e4995-719b-483c-80d6-d370c96b0469"
                        }
                    ]
                },
                "options": {}
            },
            "id": "order-phone",
            "name": "Order Phone Number",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                300
            ],
            "notesInFlow": true,
            "notes": "ONLY order - don't wait for SMS yet"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"current_step\": \"PHONE_NUMBER_ALLOCATED\",\n  \"resources\": {\"phoneNumber\": \"{{ $json.number }}\", \"orderId\": \"{{ $json.id }}\"}\n}",
                "options": {}
            },
            "id": "update-phone-allocated",
            "name": "Update: Phone Allocated",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.airtop.ai/api/v1/sessions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"configuration\": {\"timeoutMinutes\": 15}}",
                "options": {}
            },
            "id": "create-session",
            "name": "Airtop: Create Session",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"current_step\": \"BROWSER_SESSION_CREATED\",\n  \"resources\": {\"sessionId\": \"{{ $json.data.id }}\"}\n}",
                "options": {}
            },
            "id": "update-session-created",
            "name": "Update: Session Created",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"url\": \"https://wallester.com/business-registration\"}",
                "options": {}
            },
            "id": "open-window",
            "name": "Airtop: Open Window",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1900,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"current_step\": \"FORM_OPENED\",\n  \"resources\": {\"windowId\": \"{{ $json.data.windowId }}\"}\n}",
                "options": {}
            },
            "id": "update-form-opened",
            "name": "Update: Form Opened",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2100,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows/{{ $node['Airtop: Open Window'].json.data.windowId }}/prompt",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"prompt\": \"Enter the phone number {{ $node['Order Phone Number'].json.number }} into the phone field and click continue/next.\"}",
                "options": {}
            },
            "id": "enter-phone",
            "name": "Enter Phone Number",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2300,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"PHONE_ENTERED\", \"status\": \"WAITING_SMS\"}",
                "options": {}
            },
            "id": "update-phone-entered",
            "name": "Update: Phone Entered",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2500,
                300
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"SMS_OTP_REQUESTED\", \"status\": \"WAITING_SMS\"}",
                "options": {}
            },
            "id": "update-sms-requested",
            "name": "Update: SMS Requested",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2700,
                300
            ]
        },
        {
            "parameters": {
                "workflowId": "={{ $workflow.id.replace(/[^a-zA-Z0-9]/g, '') }}",
                "options": {
                    "staticParameters": {
                        "orderId": "={{ $node['Order Phone Number'].json.id }}",
                        "phoneNumber": "={{ $node['Order Phone Number'].json.number }}",
                        "maxRetries": 12
                    }
                }
            },
            "id": "listen-for-sms",
            "name": "Listen for SMS OTP",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                2900,
                300
            ],
            "notesInFlow": true,
            "notes": "Calls SMS Worker - UPDATE workflowId after import!"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"SMS_OTP_RECEIVED\", \"status\": \"IN_PROGRESS\"}",
                "options": {}
            },
            "id": "update-sms-received",
            "name": "Update: SMS Received",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3100,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows/{{ $node['Airtop: Open Window'].json.data.windowId }}/prompt",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"prompt\": \"Enter the SMS code {{ $json.code }} and submit.\"}",
                "options": {}
            },
            "id": "submit-sms-code",
            "name": "Submit SMS Code",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3300,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"SMS_OTP_SUBMITTED\", \"status\": \"IN_PROGRESS\"}",
                "options": {}
            },
            "id": "update-sms-submitted",
            "name": "Update: SMS Submitted",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3500,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows/{{ $node['Airtop: Open Window'].json.data.windowId }}/prompt",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"prompt\": \"Enter email address {{ $node['Parse Businesses'].json.email_alias }} and continue.\"}",
                "options": {}
            },
            "id": "enter-email",
            "name": "Enter Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                100,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"EMAIL_ENTERED\", \"status\": \"WAITING_EMAIL\"}",
                "options": {}
            },
            "id": "update-email-entered",
            "name": "Update: Email Entered",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                500
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"EMAIL_OTP_REQUESTED\", \"status\": \"WAITING_EMAIL\"}",
                "options": {}
            },
            "id": "update-email-requested",
            "name": "Update: Email OTP Requested",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                500
            ]
        },
        {
            "parameters": {
                "workflowId": "={{ $workflow.id.replace(/[^a-zA-Z0-9]/g, '') }}",
                "options": {
                    "staticParameters": {
                        "senderFilter": "wallester",
                        "subjectFilter": "verification",
                        "maxRetries": 10,
                        "waitSeconds": 15
                    }
                }
            },
            "id": "listen-for-email",
            "name": "Listen for Email OTP",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                700,
                500
            ],
            "notesInFlow": true,
            "notes": "Calls Email Worker - UPDATE workflowId after import!"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"EMAIL_OTP_RECEIVED\", \"status\": \"IN_PROGRESS\"}",
                "options": {}
            },
            "id": "update-email-received",
            "name": "Update: Email Received",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows/{{ $node['Airtop: Open Window'].json.data.windowId }}/prompt",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"prompt\": \"Enter the email verification code {{ $json.code }} and submit.\"}",
                "options": {}
            },
            "id": "submit-email-code",
            "name": "Submit Email Code",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"EMAIL_OTP_SUBMITTED\", \"status\": \"IN_PROGRESS\"}",
                "options": {}
            },
            "id": "update-email-submitted",
            "name": "Update: Email Submitted",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1300,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/windows/{{ $node['Airtop: Open Window'].json.data.windowId }}/prompt",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"prompt\": \"Fill in business details:\\nCompany Name: {{ $node['Parse Businesses'].json.business_name }}\\nEIK: {{ $node['Parse Businesses'].json.business_eik }}\\nBusiness Type: {{ $node['Parse Businesses'].json.business_type }}\\n\\nComplete the form and submit.\"}",
                "options": {}
            },
            "id": "fill-business-details",
            "name": "Fill Business Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"BUSINESS_DETAILS_ENTERED\", \"status\": \"IN_PROGRESS\"}",
                "options": {}
            },
            "id": "update-business-details",
            "name": "Update: Business Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1700,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.airtop.ai/api/v1/sessions/{{ $node['Airtop: Create Session'].json.data.id }}/terminate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "terminate-session",
            "name": "Airtop: Terminate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1900,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AIRTOP_API_KEY",
                    "name": "Airtop API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"current_step\": \"COMPLETED\", \"status\": \"COMPLETED\", \"completed_at\": \"{{ $now.toISO() }}\"}",
                "options": {}
            },
            "id": "complete-registration",
            "name": "Mark as Completed",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2100,
                500
            ]
        },
        {
            "parameters": {
                "channel": "#wallester-automation",
                "text": "=✅ Registration completed for {{ $node['Parse Businesses'].json.business_name }} ({{ $node['Parse Businesses'].json.business_eik }})\n\nPhone: {{ $node['Order Phone Number'].json.number }}\nEmail: {{ $node['Parse Businesses'].json.email_alias }}"
            },
            "id": "slack-success",
            "name": "Slack Success",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                2300,
                500
            ],
            "credentials": {
                "slackApi": {
                    "id": "SLACK_CRED_ID",
                    "name": "Slack Wallestars"
                }
            }
        },
        {
            "parameters": {},
            "id": "loop-back",
            "name": "Next Business",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2500,
                500
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://ansiaiuaygcfztabtknl.supabase.co/rest/v1/registration_progress?business_eik=eq.{{ $node['Parse Businesses'].json.business_eik }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuc2lhaXVheWdjZnp0YWJ0a25sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA2ODY2OSwiZXhwIjoyMDc4NjQ0NjY5fQ.uAy4O9560idXOE6kAudCGYwC3K5ypPngZsbe7e3tWBA"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"current_step\": \"FAILED\",\n  \"status\": \"FAILED\",\n  \"last_error\": {\"type\": \"{{ $json.error?.type || 'UNKNOWN' }}\", \"message\": \"{{ $json.error?.message || 'Unknown error' }}\", \"timestamp\": \"{{ $now.toISO() }}\"}\n}",
                "options": {}
            },
            "id": "log-error",
            "name": "Log Error",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                700
            ]
        },
        {
            "parameters": {
                "channel": "#wallester-automation",
                "text": "=❌ Registration failed for {{ $node['Parse Businesses'].json.business_name }} ({{ $node['Parse Businesses'].json.business_eik }})\n\nError: {{ $json.error?.message || 'Unknown error' }}"
            },
            "id": "slack-error",
            "name": "Slack Error",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                1700,
                700
            ],
            "credentials": {
                "slackApi": {
                    "id": "SLACK_CRED_ID",
                    "name": "Slack Wallestars"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Fetch Owner Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Owner Data": {
            "main": [
                [
                    {
                        "node": "Parse Businesses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Businesses": {
            "main": [
                [
                    {
                        "node": "Loop Businesses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Businesses": {
            "main": [
                [
                    {
                        "node": "Initialize Progress",
                        "type": "main",
                        "index": 0
                    }
                ],
                null
            ]
        },
        "Initialize Progress": {
            "main": [
                [
                    {
                        "node": "Order Phone Number",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Order Phone Number": {
            "main": [
                [
                    {
                        "node": "Update: Phone Allocated",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Phone Allocated": {
            "main": [
                [
                    {
                        "node": "Airtop: Create Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Airtop: Create Session": {
            "main": [
                [
                    {
                        "node": "Update: Session Created",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Session Created": {
            "main": [
                [
                    {
                        "node": "Airtop: Open Window",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Airtop: Open Window": {
            "main": [
                [
                    {
                        "node": "Update: Form Opened",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Form Opened": {
            "main": [
                [
                    {
                        "node": "Enter Phone Number",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enter Phone Number": {
            "main": [
                [
                    {
                        "node": "Update: Phone Entered",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Phone Entered": {
            "main": [
                [
                    {
                        "node": "Update: SMS Requested",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: SMS Requested": {
            "main": [
                [
                    {
                        "node": "Listen for SMS OTP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Listen for SMS OTP": {
            "main": [
                [
                    {
                        "node": "Update: SMS Received",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: SMS Received": {
            "main": [
                [
                    {
                        "node": "Submit SMS Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit SMS Code": {
            "main": [
                [
                    {
                        "node": "Update: SMS Submitted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: SMS Submitted": {
            "main": [
                [
                    {
                        "node": "Enter Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enter Email": {
            "main": [
                [
                    {
                        "node": "Update: Email Entered",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Email Entered": {
            "main": [
                [
                    {
                        "node": "Update: Email OTP Requested",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Email OTP Requested": {
            "main": [
                [
                    {
                        "node": "Listen for Email OTP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Listen for Email OTP": {
            "main": [
                [
                    {
                        "node": "Update: Email Received",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Email Received": {
            "main": [
                [
                    {
                        "node": "Submit Email Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Email Code": {
            "main": [
                [
                    {
                        "node": "Update: Email Submitted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Email Submitted": {
            "main": [
                [
                    {
                        "node": "Fill Business Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fill Business Details": {
            "main": [
                [
                    {
                        "node": "Update: Business Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update: Business Details": {
            "main": [
                [
                    {
                        "node": "Airtop: Terminate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Airtop: Terminate": {
            "main": [
                [
                    {
                        "node": "Mark as Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark as Completed": {
            "main": [
                [
                    {
                        "node": "Slack Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack Success": {
            "main": [
                [
                    {
                        "node": "Next Business",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Next Business": {
            "main": [
                [
                    {
                        "node": "Loop Businesses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Error": {
            "main": [
                [
                    {
                        "node": "Slack Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveExecutionProgress": true,
        "saveManualExecutions": true
    },
    "tags": [
        "wallester",
        "registration",
        "v3",
        "fixed"
    ]
}